.btn{
  display: inline-block;
  margin: .7rem .5rem;
  padding: .3rem .5rem;
  border: none;
  background: rgba($color-primary,.5);
  color: rgba(white,.9);
  font-size: $font-size-h6;
  border-radius: 5px;

  &:hover,
  &:active,
  &:focus,
  &:active:focus{
    background: rgba($color-primary,.8);
    color: rgba(white,1);
    outline: none;
  }

  &.btn--full{
    padding: .7rem .5rem;
    margin: 1rem 0;
    width: 100%;
    font-size: $font-size-p;
    border-radius: 5px;
    background: rgba($color-primary,1);

    &:hover,
    &:active,
    &:focus,
    &:active:focus{
      background: darken($color-primary,5%);
    }
  }
}

.btn{
  display: inline-block;
  padding: .6rem .8rem;
  margin: 1rem 0 0;
  font-size: .9rem;
  border-radius: 2px;
  transition: all .2s;
  border: none;
  letter-spacing: 1px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(black,.3),0 0 0 1px rgba(white,.15) inset;
  background: rgba(black,.2);
  color: $color-blue;

  &.btn-full{
    display: block;
    width: 100%;
  }

  &:hover{
    background: rgba(black,.3);
    color: #fff;
    outline: none;
    box-shadow: 0 1px 1px rgba(black,.3),0 0 0 1px rgba(white,.3) inset;
  }
  &:focus{
    outline: none;
    background: rgba(black,.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset,0 0 0 1px rgba(255, 255, 255, 0.07) inset;
  }

  &.btn-primary{
    background: $color-blue;
    color: #fff;
    background-image: linear-gradient(to bottom,$color-blue,$color-blue--dark);

    &:hover{
      background-image: linear-gradient(to bottom,$color-blue--light,$color-blue);
      outline: none;
    }
    &:focus{
      outline: none;
      background: $color-blue--dark;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset,0 0 0 1px rgba(255, 255, 255, 0.07) inset;
    }
  }
}
