// Disable Directory Listings
Options -Indexes

// Disable README.md from Browser
<FilesMatch "\(README.md)$">
  Order Deny,Allow
  Deny from all
</FilesMatch>

// Route everything over index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
