// Disable Directory Listings
Options -Indexes

// Disable README.md from Browser
<FilesMatch "\(README.md)$">
  Order Deny,Allow
  Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

// Route everything over index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
</IfModule>

AddDefaultCharset UTF-8
# php_flag short_open_tag on
