// Disable Directory Listings
Options -Indexes

// Disable README.md from Browser
<FilesMatch "\(README.md)$">
  Order Deny,Allow
  Deny from all
</FilesMatch>

// Route everything over app/webroot/
<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
