.fullscreen{
  background: url('http://gofreaks.eu/content/02-games/01-bf4/cover.jpg') no-repeat center center;
  background-size: cover;
  z-index: 101;

  .fullscreen-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: rgba($color-neon-blue,.4);
  }

  .fullscreen-center{
    position: absolute;
    z-index: 102;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -150px;
    width: 18.75rem;
    height: 300px;

    a{
      color: rgba(white,.6);
      font-size: $font-size-h6;

      &:hover{
        color: rgba(white,1);
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $color-black;
    z-index: 102;

    a{
      color: $color-grey;
      &:hover{
        color: #fff;
      }
    }
  }
}


.login_form{
  background: white;
  border-radius: 5px;
  overflow: hidden;

  input{
    width: 100%;
    padding: 1rem 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid $color-grey--light;
    color: $color-grey;

    &:last-child{
      border-bottom: none;
    }
  }
}
